<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>



  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jaewoo1233456/firehose">Jaewoo</a> &amp; He is trying to turn his dream of becoming a tech entrepreneur into a reality.  </p>
  <br />
  <p>
    He has big dreams and big goals. He's not yet sure of how he's going to do it, but he knows he's going to make an impact. From the microcosmic to the macro grand scale. A bit of grandeur perhaps? Healthy for a 21 year old maybe
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">

  	<%= image_tag 'jaewoo.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jaewoo Park</h2>
    <br />
    <p>
    	Jaewoo Park is a college student interested in technology. 
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />



